<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-3 " *ngFor="let prod of products">
        <div class=" card img-hover-zoom" [routerLink]="['/detalle/', prod.id]">
            <div class="card-header ">{{prod.nombre}} ({{prod.tipoProducto}})</div>
            <img src="https://s3-eu-west-1.amazonaws.com/cjp-rbi-farmplan/sites/1/2015/11/generic-pc.jpg " class="card-img-top " alt="... ">
            <div class="card-body ">
                <h5 class="card-title " style="color:green; ">${{prod.precio}}</h5>
                <p class="card-text ">{{prod.detalle}}</p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item "><button class="btn btn-success " style="width: 100% ">Agregar al carrito</button></li>

            </ul>
        </div>
    </div>
</div>