<h1>Listado de Productos</h1>
<hr>
<div class="row">
    <div class="col text-right">
        <button routerLink="/producto/new" class="btn btn-primary">
            <li class="fa fa-plus"></li> Nuevo Producto
        </button>
        <button routerLink="/clientes" class="btn btn-primary ml-2">
            <i class="fas fa-male"></i> Ir a clientes(temporal)
        </button>
    </div>
</div>
<div>
    <!--<Label>Buscar por Tipo de Producto</Label><input name='stock' type="text" [formControl]="TipoProducto" class="form-control" placeholder="ingrese un tag" style="width: 40% ">
    <div class="col-auto my-1">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Tipo de Producto</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [formControl]="TipoProducto" class="form-control">
          <option selected>Elige...</option>
          <option value="1">Placa de Video</option>
          <option value="2">Procesador Intel</option>
          <option value="3">Memoria Ram</option>
        </select>
    </div>-->
    <Label>Buscar por Tipo de Producto</Label>
    <select name="" id="" [formControl]="TipoProducto" class="form-control" placeholder="seleccione un tag" style="width: 25% ">
        <option *ngFor="let type of listType" [ngValue]="type">{{type}}</option>
    </select>
    <button (click)='findByTipo(TipoProducto.value)'> Busca</button>



</div>
<table class="table mt-2 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">n°</th>
            <th scope="col">#id </th>
            <th scope="col">Nombre</th>
            <th scope="col">Detalle</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Eliminar/Modificar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products; let i = index" class="a" [routerLink]="['/detalle/', prod.id]">
            <th scope="row">{{i + 1}}</th>
            <td>{{prod.id}}</td>
            <td>{{prod.nombre}}</td>
            <td>{{prod.detalle}}</td>
            <td>{{prod.stock}}</td>
            <td>{{prod.precio | currency}} </td>
            <td><button class="btn btn-danger" (click)='borrarProducto(prod, i)'><li class="fas fa-trash"></li></button>
                <button class="btn btn-secondary ml-1" [routerLink]="['/producto/', prod.id]"><li class="fas fa-pen"></li></button>

            </td>
        </tr>

    </tbody>
</table>

<div *ngIf="products.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay Productos</h4>
    <p>
        <i class="fa fa-exclamation fa-2x mt-2"></i>
    </p>

</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-3x"></i>
    </p>
    <p class="mb-0">
        Espere porfavor
    </p>
</div>